#mainpicture {
  height: 250px;
  width: 200px;
  border-radius: 50%;
}

#aboutmepicture {
  height: 700px;
  border: 1px solid; 
}


.arrows {
  padding-top: 15%;
}

.gallery-image {}

.vis-hidden {
  visibility: hidden;
}

#resume {
  background-color: #E74C3C
}

.thumbnails {
  width: 900px;
  height: 260px;
}

#contactsection {
  border: 1px solid;
}

.flat div {
  color: #2c3e50;
  background-color: #fff;
  height: 50px;
  width: auto;
  border: none;
  font-size: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.flat div:hover {
  color: #fff;
  background-color: #E7767A;
}

.flat div:active {
  color: #fff;
  background-color: #E78776;
}

.flatskill div {
  color: #000000;
  background-color: #ffffff;
  height: 50px;
  width: auto;
  border: none;
  font-size: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.flatskill div:hover {
  color: #fff;
  background-color: #E7767A;
}

.flatskill div:active {
  color: #fff;
  background-color: #E78776;
}

.skill {
  margin: 10px;
  text-align: center;
  font-size: 32px;
}

.skillbar {
  margin-top: 15px;
}

.progress-bar-flat {
  background-color: #2C3E50;
}

.offer-detail-image-div {
  display: block;
  width: 100%;
}

.offer-detail-image {
  display: block;
  overflow: visible;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}
