#navbarpicture {
  height: 50px;
}

#aboutmepicture {
  max-width:300px;
  border: 1px solid;
}

#profile {
  max-width: 300px;
}

.button a{
  display:inline-block;
  background-color:#495057;
  color:#fff!important;
  text-align:center;
  font-size:1.5rem;
  line-height:3.5rem;
}

.button a:hover{background-color:#6e89d4}

.pub a {
  font-size:1rem;
  line-height: normal;
}
