<!DOCTYPE html>
<html lang="en" ng-app="portFolio">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sharjeel Khan's website</title>

  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

  <!-- Theme CSS -->
  <link href="css/freelancer.min.css" rel="stylesheet"/>
  <link href="css/myChanges.css" rel="stylesheet"/>
  <link href="css/custom-marker.css" rel="stylesheet"/>
  <link href="js/angular-ui-bootstrap/dist/ui-bootstrap-csp.css" rel="stylesheet"/>
  <link href="js/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet"/>

  <!-- Custom Fonts -->
  <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

  <!-- Javascript -->
  <script src="js/angular/angular.min.js"></script>
  <script src="js/angular-animate/angular-animate.min.js"></script>
  <script src="js/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
  <script src="js/portfolioController.js"></script>
  <script src="js/moment/min/moment.min.js"></script>
  <script src="js/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
  <script src="js/ngmap/build/scripts/ng-map.min.js"></script>
  <script src="http://maps.google.com/maps/api/js?v=3&key=AIzaSyDKcLiOaksuOsQdP7fVtCYk7qPz6zM1hf8"></script>
</head>

<body id="page-top" class="index" ng-controller="portfolioController as pc">

  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <a href="#page-top"><img id="navbarpicture" src="img/SK.png"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li class="page-scroll">
            <a href="#about">About Me</a>
          </li>
          <li class="page-scroll">
            <a href="#research">Research Projects</a>
          </li>
          <li class="page-scroll">
            <a href="#publications">Publications</a>
          </li>
          <li class="page-scroll">
            <a href="#map">Map</a>
          </li>
          <li class="page-scroll">
            <a href="#portfolio">Side Projects</a>
          </li>

          <li class="page-scroll">
            <a href="#contact">Contact</a>
          </li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!-- Header -->
  <header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <img class="img-responsive" id="mainpicture" src="img/profile.jpeg" alt="">
          <div class="intro-text">
            <span class="name">Sharjeel Khan</span>
            <hr class="star-light">
            <span class="skills">First Year PhD Student at Georgia Institute of Technology</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- About Section -->
  <section id="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>About Me</h2>
          <hr class="star-primary">
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-12">
              <p>
                Hey, my name is Sharjeel Khan. My primary interest is in Programming Languages, Logic and Software Verification research.

                Currently, I am a first year PhD student at Georgia Institute of Technology working on Predicting Dynamic Probabilistic Program Paths with <a href="https://sites.google.com/site/profsantoshpande/">Professor Santosh Pande</a>.
              </p>
            </div>
            <div class="col-lg-12">
              <p>
                  In my free time, I blog about my life and my interests on <a href="https://medium.com/@sharjeelkhan_41359">Medium</a>. My interests are playing video games or board games, watching TV shows (On a Brooklyn 99 binge), reading manga (One Piece is the my all-time favorite) and eating new cuisines or new dishes at restaurants.
                  My absolute favorite thing is to code new projects or participate in online programming competitions while listening to music on Spotify.
              </p>
            </div>
            <div class="col-lg-12">
              <p>
                Aside from all of this, I love to travel. I have been to around 20+ countries and 40+ cities which can be seen below in the <a href="#map">Map</a>. Whenever I get the chance, I try to travel to new countries and to meet new people. I normally backpack around the country to see the different cities and cultures.
                My most recent trip was to Turkey where I visited Istanbul, Ephesus, Cappadocia and Pamukkale.
              </p>
            </div>
            <div class="col-lg-12 text-center">
              <a href="/files/Resume.pdf" class="btn btn-lg btn-outline resume">
                <i class="fa fa-download"></i> Download CV
              </a>
            </div>

          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12">
              <img class="img-responsive" id="aboutmepicture" src="img/aboutme.jpg"alt="">
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>



  <!-- Research -->
  <section class="success" id="research">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Research Projects</h2>
          <hr class="star-light">
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <hr>
          <h3>Predicting Dynamic Probalistic Program Paths</h3>
          <h4><a href="https://sites.google.com/site/profsantoshpande/">Professor Santosh Pande</a></h4>
          <p>
             We are building an intermediate representation (IR) pass which creates a path profile for the program.
             Using the path profile and a trained decision tree classifier about program paths, we are trying to predict dynamic paths used in the program with a high probability of accuracy alongside a minimum overhead.
             As a result, we will be able to find all unused code sections for removal.
             This improves the program’s size, improves the program’s security and decreases your precious time during compilation.
          </p>
          <br/>

          <hr>
          <h3><a href="https://www.cs.cmu.edu/~iliano/projects/metaCLF2/index.shtml">metaCLF2</a></h3>
          <h4><a href="https://www.cs.cmu.edu/~iliano/">Professor Iliano Cervesato</a> and <a href="http://www.gisellereis.com/">Professor Giselle Reis</a></h4>
          <p>
            We researched about financial systems more specifically Automated Trading Systems (ATS) where we formalized ATS in Celf so we can verify properties of the system by implementing the meta-theory in Celf.
          </p>
        </div>
      </div>


    </div>
  </section>

  <!-- Calendar Grid Section -->
  <!-- TODO: Make Calendar work -->
  <!--  <section id="calendar">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Calendar</h2>
          <hr class="star-primary">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 text-center">
          <div class="btn-group">
            <button
              class="btn btn-primary"
              mwl-date-modifier
              date="pc.viewDate"
              decrement="pc.calendarView"
              ng-click="pc.cellIsOpen = false">
              Previous
            </button>
            <button
              class="btn btn-default"
              mwl-date-modifier
              date="pc.viewDate"
              set-to-today
              ng-click="pc.cellIsOpen = false">
              Today
            </button>
            <button
              class="btn btn-primary"
              mwl-date-modifier
              date="pc.viewDate"
              increment="pc.calendarView"
              ng-click="pc.cellIsOpen = false">
              Next
            </button>
          </div>
        </div>

        <div class="col-md-6 text-center">
          <div class="btn-group">
            <label class="btn btn-primary" ng-model="pc.calendarView" uib-btn-radio="'year'" ng-click="pc.cellIsOpen = false">Year</label>
            <label class="btn btn-primary" ng-model="pc.calendarView" uib-btn-radio="'month'" ng-click="pc.cellIsOpen = false">Month</label>
            <label class="btn btn-primary" ng-model="pc.calendarView" uib-btn-radio="'week'" ng-click="pc.cellIsOpen = false">Week</label>
            <label class="btn btn-primary" ng-model="pc.calendarView" uib-btn-radio="'day'" ng-click="pc.cellIsOpen = false">Day</label>
          </div>
        </div>
      </div>

      <mwl-calendar view="pc.calendarView"
                        view-date="pc.viewDate"
                        events="pc.events"
                        on-event-click="pc.eventClicked(calendarEvent)"
                        on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                        cell-is-open="vm.cellIsOpen"
                        on-drill-down-click="false"
                        on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
      </mwl-calendar>
    </div>
  </section>
-->

<section id="publications">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Publications</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      <table class="table col-md-12">
          <thead class="thead-dark">
            <tr>
              <th>Title</th>
              <th>Authors</th>
              <!--<th>Type</th>-->
              <th>Proceedings/Journal</th>
              <th>Year</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pub in pc.publications|limitTo:10">
              <td><a ng-href="{{pub.link}}">{{pub.title}}</a></td>
              <td>
                <a ng-repeat="author in pub.authors" ng-href="{{author.link}}">{{author.name}}</a>
              </td>
              <!-- <td>{{pub.type}}</td> -->
              <td><a ng-href="{{pub.venue_link}}">{{pub.venue_name}}</a></td>
              <td>{{pub.year}}</td>
            </tr>
          </tbody>
        </table>
    </div>

  </div>
</section>

  <section class="success" id="map">
    <div class="container">

      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Map</h2>
          <hr class="star-light">
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12"> <!-- TODO: Make Custom Markers to work for Medium Blogs -->
          <ng-map zoom="2" center="[0,0]" style="height:700px;">
            <marker ng-repeat="p in pc.locations track by $index"
              on-click="pc.showCustomMarker('custom-marker-'+$index)"
              position="{{p.pos}}">
            </marker>
            <custom-marker ng-repeat="p in pc.locations track by $index"
              id="custom-marker-{{$index}}"
              on-click="pc.closeCustomMarker()"
              position="{{p.pos}}"
              visible=false>
              <div>
                {{p.name}}
              </div>
            </custom-marker>
          </ng-map>
        </div>
      </div>

    </div>
  </section>

  <!-- Project Grid Section -->
  <section id="portfolio">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Side Projects</h2>
          <hr class="star-primary">
        </div>
      </div>

      <div class="row" style="margin-bottom: 5px;">
        <div class="col-md-3 text-center btn btn-lg btn-outline resume" ng-repeat="filter in pc.filters" ng-click="pc.filterProjects(filter.filter)">
          {{filter.name}}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 portfolio-item" ng-repeat="project in pc.projects" ng-show="project.show">
          <a ng-href="#{{project.id}}" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img ng-src="img/portfolio/{{project.images[0].image}}" class="img-responsive thumbnails" alt="">
          </a>
        </div>
      </div>

    </div>
  </section>


  <!-- Footer -->
  <footer class="text-center" id="contact">
    <div class="footer-above">
      <div class="container">
        <div class="row">
          <div class="footer-col col-md-6">
            <h3 style="color:#FFFFFF;">Around the Web</h3>
            <ul class="list-inline">
              <li>
                <a href="https://medium.com/@sharjeelkhan_41359" class="btn-social btn-outline"><i class="fa fa-fw fa-medium"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/Robot_Khan" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/sharjeel-khan" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
              </li>
              <li>
                <a href="https://github.com/Sharjeel-Khan" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
              </li>
              <li>
                <a href="mailto:smkhan@gatech.edu" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope"></i></a>
              </li>
            </ul>
          </div>
          <div class="footer-col col-md-6">
            <h3 style="color:#FFFFFF;">My Information</h3>
            <p><u>Address:</u> Klaus Building Office 2337</p>
            <p><u>Phone Number:</u> (404) 436-2321</p>
            <p><u>Email:</u> smkhan [at] gatech [dot] com</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-below">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            Copyright &copy; Sharjeel Khan 2018
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
  </div>

  <!-- Portfolio Modals -->
  <div ng-repeat="project in pc.projects">
    <div class="portfolio-modal modal fade" ng-attr-id="{{project.id}}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <div class="modal-body">
                <h2>{{project.name}}</h2>
                <hr class="star-primary">
                <div uib-carousel active="pc.active" interval="pc.myInterval" no-wrap="pc.noWrapSlides" class="offer-detail-image-div">
                  <div uib-slide ng-repeat="slide in project.images track by slide.id" index="slide.id">
                    <img class="offer-detail-image" ng-src="img/portfolio/{{slide.image}}">
                  </div>
                </div>
                <p>{{project.description}}</p>
                <p>{{project.libraries}}</p>
                <ul class="list-inline item-details">
                  <li>Purpose:
                    <strong>{{project.purpose}}</strong>
                  </li>
                  <li>Date:
                    <strong>{{project.date}}</strong>
                  </li>
                  <li>Service:
                    <strong>{{project.service}}</strong>
                  </li>
                  <li>Link:
                    <a ng-href="{{project.link}}"><strong>{{project.location}}</strong></a>
                  </li>
                </ul>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="js/jquery/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Theme JavaScript -->
  <script src="js/freelancer.min.js"></script>

</body>

</html>
