#navbarpicture {
  height: 50px;
}

#aboutmepicture {
  max-width:400px;
  border: 1px solid;
}

#profile {
  max-width: 300px;
}

.button a{
  display:inline-block;
  background-color:#495057;
  color:#fff!important;
  text-align:center;
  font-size:1.5rem;
  line-height:3.5rem;
}

.button a:hover{background-color:#6e89d4;}

.text-light {
  color: #878f97 !important;
}

.pub a {
  font-size:1rem;
  line-height: normal;
}

#chartdiv {
  width: 1050px;
  height: 700px;
  border: 1px solid;
}

#paper {
  color: #E3735E;
}

#talk {
  color: #6495ED;
}

#career {
  color: #00A36C;
}