doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Sharjeel Khan's website

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')
        
        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')
        <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Sharjeel Khan
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/SK.png', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#home') Home
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#publications') Publications
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#travel') Travel
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#skills') Skills
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#interests') Interests
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // Home
            section#home.resume-section
                .resume-section-content
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h1.mb-0
                                | Sharjeel Khan
                            .subheading.mb-0
                                | Software Engineer @ Google
                            .heading.mb-0
                                | Mountain View, CA
                            .social-icons
                                a.social-icon(href='https://www.linkedin.com/in/sharjeel-khan/')
                                    i.fab.fa-linkedin-in
                                a.social-icon(href='https://github.com/Sharjeel-Khan')
                                    i.fab.fa-github
                                a.social-icon(href='https://scholar.google.com/citations?user=Ww7PDH4AAAAJ&hl=en')
                                    i.ai.ai-google-scholar
                                a.social-icon(href='https://dblp.uni-trier.de/pers/hd/k/Khan:Sharjeel')
                                    i.ai.ai-dblp
                            
                            br
                            br
                            table
                                tr 
                                    td
                                        h3.mb-0 
                                            | Recent Updates

                                        ul
                                            li [Feb 2025] 
                                                b#career [Career] 
                                                | I was selected to be on the Artifact Evaluation Committee for PLDI 2025.
                                            li [Jan 2025] 
                                                b#paper [Paper] 
                                                | Our paper, Tackling ML-based Dynamic Mispredictions using Statically Computed Invariants for Attack Surface Reduction, got accepted to ASPLOS 2025.
                                            li [Dec 2024] 
                                                b#career [Career] 
                                                | I began my job in the Android LLVM team at Google.
                                            li [Nov 2024] 
                                                b#paper [Paper] 
                                                | Our paper, ASDF: A Compiler for Qwerty, a Basis-Oriented Quantum Programming Language, got accepted to CGO 2025.
                                            li [Sep 2024] 
                                                b#paper [Paper] 
                                                | Our paper, Real-time Digital RF Emulation - II: A Near Memory Custom Accelerator, got accepted to IEEE Transactions on Radar Systems 2024.
                                            li [Sep 2024] 
                                                b#paper [Paper] 
                                                | Our paper, Real-time Digital RF Emulation - I: The Direct Path Computational Model, got accepted to IEEE Transactions on Radar Systems 2024.
                                            li [May 2024] 
                                                b#career [Career] 
                                                | I proposed my thesis "A System for Faster Software Verification and Better Compiler Optimizations through Symbiosis" and officially became a PhD candidate.
                                            li [Mar 2024] 
                                                b#paper [Paper] 
                                                | Our paper, Pythia: Compiler-Guided Defense Against Non-Control Data Attacks, got accepted to ASPLOS 2024.
                                            li [Oct 2023] 
                                                b#talk [Talk] 
                                                | I gave a lightning talk about validating orderfiles at the LLVM Developers Meeting.  
                                            li [Sep 2023] 
                                                b#paper [Paper] 
                                                | Our paper, Beacons: A End-to-End Compiler Framework for Predicting and Utilizing Dynamic Loop Characteristics, got accepted to OOPSLA 2023.
                                            li [May 2023] 
                                                b#career [Career] 
                                                | I began my internship in the Android LLVM team at Google. 
                                            li [Oct 2023] 
                                                b#paper [Paper] 
                                                | Our paper, Decker: Attack Surface Reduction via On-demand Code Mapping, got accepted to ASPLOS 2023.
                                            li [Jan 2023] 
                                                b#paper [Paper] 
                                                | Our paper, A High Performance Computing Architecture for Real-Time Digital Emulation of RF Interactions, got accepted to RadarConf 2023.
                                            li [June 2022] 
                                                b#paper [Paper] 
                                                | Our paper, Com-CAS: Effective Cache Apportioning under Compiler Guidance, got accepted to PACT 2022.
                                            li [May 2022] 
                                                b#career [Career] 
                                                | I began my internship in the Redex team at Meta.
                                            li [Apr 2022] 
                                                b#paper [Paper] 
                                                | Our paper, VICO : Demand-driven Verification for Improving Compiler Optimizations, got accepted to ICS 2022.
                                            li [Apr 2022] 
                                                b#career [Career] 
                                                | I was chosen as President of the School of Computer Science Graduate Student Association.

                        .flex-shrink-0
                            img.img-fluid.img-profile.rounded-circle#profile(src='assets/img/profile.png')
            hr.m-0

            // About
            section#about.resume-section
               .resume-section-content
                    h2.mb-5 About Me                    
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            p 
                                | Hey, my name is Sharjeel Khan. 
                                | I am a Software Engineer at Google working on the Android LLVM Toolchain team.
                                | I help maintain and release the Android LLVM Compiler Toolchain to first-party developers and to external developers through the Android Native Development Kits (NDKs).
                                
                            p
                                | I was a Computer Science Ph.D. candidate at Georgia Institute of Technology working with <a href="https://sites.google.com/site/profsantoshpande/">Dr. Santosh Pande</a>.
                                | My research interests was in the intersection of programming languages, security, and compilers research.
                                | Before I started my Ph.D., I was a Research Assistant at Carnegie Mellon University working under <a href="https://www.cs.cmu.edu/~iliano/">Dr. Iliano Cervesato</a> and <a href="http://www.gisellereis.com/">Dr. Giselle Reis</a>.
                                | I also did my Bachelors in Computer Science from Carnegie Mellon University.
                                //- | I am originally from Hyderabad, India, but I lived my entire childhood in the Middle East (Dubai then Doha).

                            p
                                |   My hobbies range from playing video games (currently Tomb Raider 4-6), watching TV shows (currently Kim's Convenience), reading manga (One Piece), or trying out new restaurants.
                                |   In addition, I love to travel to new countries and meet new people.
                                |   I have been to around 20+ countries and 40+ cities.
                                |   My most recent trip was to Las Vegas, Nevada to attend CGO for my paper acceptance.
                                //-  |   I blog about my travels and my interests on <a href="https://medium.com/@sharjeelkhan_41359">Medium</a>.

                            .col-lg-12.text-center.button  
                                a.btn.btn-lg.btn-outline(href='assets/files/CV.pdf')
                                    i.fa.fa-file-download 
                                    | Download CV



                        .flex-shrink-0
                            img.img-responsive#aboutmepicture(src='assets/img/aboutme.jpg', alt='')

            hr.m-0

            // Publications
            section#publications.resume-section
                .resume-section-content
                    h2.mb-5 Publications

                    h3.mb-3 Conference Papers 
                        
                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                .subheading.text-light
                                    | Tackling ML-based Dynamic Mispredictions using Statically Computed Invariants for Attack Surface Reduction
                                .subheading.text-light
                                    | Chris Porter*, <strong>Sharjeel Khan*</strong>, Kangqi Ni, and Santosh Pande.
                                .d-flex.flex-row.mb3
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://dl.acm.org/doi/10.1145/3676641.3716276')
                                            i.fa.fa-file-pdf
                                            | Paper
                                        a.btn.btn-lg.btn-outline(href='https://zenodo.org/records/14777049')
                                            i.fa.fa-code
                                            | Code

                            .flex-shrink-0.text-md-right
                                .subheading.text-primary
                                    | ASPLOS 2025 

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                .subheading.text-light
                                    | ASDF: A Compiler for Qwerty, a Basis-Oriented Quantum Programming Language
                                .subheading.text-light
                                    | Austin J. Adams, <strong>Sharjeel Khan</strong>, Arjun Bhamra, Ryan Abusaada, Anthony M. Cabrera, Cameron Hoechst, Travis S. Humble, Jeffrey S. Young, and Thomas M. Conte.
                                .d-flex.flex-row.mb3
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://dl.acm.org/doi/10.1145/3696443.3708966')
                                            i.fa.fa-file-pdf
                                            | Paper
                                        a.btn.btn-lg.btn-outline(href='https://arxiv.org/pdf/2501.13262')
                                            i.fa.fa-file-pdf
                                            | Preprint
                                        a.btn.btn-lg.btn-outline(href='https://doi.org/10.5281/zenodo.14080494')
                                            i.fa.fa-code
                                            | Code
                                        a.btn.btn-lg.btn-outline(href='https://github.com/gt-tinker/qwerty')
                                            i.fab.fa-github
                                            | GitHub

                            .flex-shrink-0.text-md-right
                                .subheading.text-primary
                                    | CGO 2025 

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                .subheading.text-light
                                    | Pythia: Compiler-Guided Defense Against Non-Control Data Attacks
                                .subheading.text-light
                                    | <strong>Sharjeel Khan</strong>, Bodhisatwa Chatterjee, and Santosh Pande.
                                .d-flex.flex-row.mb3
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://dl.acm.org/doi/10.1145/3620666.3651343')
                                            i.fa.fa-file-pdf
                                            | Paper
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='assets/files/posters/Pythia.pdf')
                                            i.fa.fa-file-image
                                            | Poster 
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='assets/files/slides/ASPLOS24.pdf')
                                            i.fa.fa-file-powerpoint
                                            | Slides
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://youtu.be/eihLepVzWCc?si=cxIrCbpyviz3D4kP')
                                            i.fa.fa-video
                                            | Short Talk

                            .flex-shrink-0.text-md-right
                                .subheading.text-primary
                                    | ASPLOS 2024 

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                .subheading.text-light
                                    | Beacons: A End-to-End Compiler Framework for Predicting and Utilizing Dynamic Loop Characteristics
                                .subheading.text-light
                                    | Girish Mururu*, <strong>Sharjeel Khan*</strong>, Bodhisatwa Chatterjee*, Chao Chen, Chris Porter, Ada Gavrilovska, and Santosh Pande. (* Authors contributed equally )
                                .d-flex.flex-row.mb3
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://dl.acm.org/doi/10.1145/3622803')
                                            i.fa.fa-file-pdf
                                            | Paper
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://arxiv.org/abs/2103.06647')
                                            i.fa.fa-file-pdf
                                            | Preprint
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://doi.org/10.5281/zenodo.8333860')
                                            i.fa.fa-code
                                            | Code
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='assets/files/posters/Beacons.pdf')
                                            i.fa.fa-file-image
                                            | Poster
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='assets/files/slides/OOPSLA23.pdf')
                                            i.fa.fa-file-powerpoint
                                            | Slides
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://www.youtube.com/live/eqpA_yXia7Q?si=zQrr70DKqs0qk9rI&t=11309')
                                            i.fa.fa-video
                                            | Conference Talk

                            .flex-shrink-0.text-md-right
                                .subheading.text-primary
                                    | OOPSLA 2023 

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                .subheading.text-light
                                    | A High Performance Computing Architecture for Real-Time Digital Emulation of RF Interactions
                                .subheading.text-light
                                    | Mandovi Mukherjee, Nael Mizanur Rahman, Coleman DeLude, Joseph Driscoll, Uday Kamal, Jongseok Woo, Jamin Seo, Sudarshan Sharma, Xiangyu Mao, Payman Behnam, <strong>Sharjeel Khan</strong>, Daehyun Kim, Jianming Tong, Prachi Sinha, Santosh Pande, Tushar Krishna, Justin Romberg, Madhavan Swaminathan, and Saibal Mukhopadhyay.
                                .d-flex.flex-row.mb3
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://ieeexplore.ieee.org/document/10149577')
                                            i.fa.fa-file-pdf
                                            | Paper

                            .flex-shrink-0.text-md-right
                                .subheading.text-primary 
                                    | RadarConf 2023
                    
                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                .subheading.text-light
                                    | Decker: Attack Surface Reduction via On-demand Code Mapping
                                .subheading.text-light
                                    | Chris Porter, <strong>Sharjeel Khan</strong>, and Santosh Pande.
                                .d-flex.flex-row.mb3
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://doi.acm.org?doi=3575693.3575734')
                                            i.fa.fa-file-pdf
                                            | Paper
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://arxiv.org/abs/2110.09557')
                                            i.fa.fa-file-pdf
                                            | Preprint
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://doi.org/10.5281/zenodo.7222072')
                                            i.fa.fa-code
                                            | Code
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='assets/files/posters/Decker.pdf')
                                            i.fa.fa-file-image
                                            | Poster
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='assets/files/slides/ASPLOS23.pdf')
                                            i.fa.fa-file-powerpoint
                                            | Slides
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://youtu.be/qZoHw7RUEFA?si=VHDaBzbtYK3LGCdj')
                                            i.fa.fa-video
                                            | Conference Talk
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://youtu.be/0wlYse9UDDU?si=x7C59kOzRRFbpgu0')
                                            i.fa.fa-video
                                            | Short Talk

                            .flex-shrink-0.text-md-right
                                .subheading.text-primary 
                                    | ASPLOS 2023
                        
                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                .subheading.text-light
                                    | Com-CAS: Effective Cache Apportioning under Compiler Guidance
                                .subheading.text-light
                                    | Bodhisatwa Chatterjee, <strong>Sharjeel Khan</strong>, and Santosh Pande.
                                .d-flex.flex-row.mb3
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://doi.acm.org?doi=3559009.3569645')
                                            i.fa.fa-file-pdf
                                            | Paper
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://zenodo.org/records/10826781')
                                            i.fa.fa-code
                                            | Code
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='assets/files/slides/PACT22.pdf')
                                            i.fa.fa-file-powerpoint
                                            | Slides

                            .flex-shrink-0.text-md-right
                                .subheading.text-primary 
                                    | PACT 2022
                        
                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                .subheading.text-light
                                    | VICO : Demand-driven Verification for Improving Compiler Optimizations
                                .subheading.text-light
                                    | <strong>Sharjeel Khan</strong>, Bodhisatwa Chatterjee, and Santosh Pande.
                                .d-flex.flex-row.mb3
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://dl.acm.org/doi/10.1145/3524059.3532393')
                                            i.fa.fa-file-pdf
                                            | Paper
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='assets/files/slides/ICS22.pdf')
                                            i.fa.fa-file-powerpoint
                                            | Slides

                            .flex-shrink-0.text-md-right
                                .subheading.text-primary 
                                    | ICS 2022

                    h3.mb-3 Journal Papers 

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                .subheading.text-light
                                    | Real-time Digital RF Emulation - II: A Near Memory Custom Accelerator
                                .subheading.text-light
                                    | Xiangyu Mao*, Mandovi Mukherjee*, Nael Mizanur Rahman*, Coleman DeLude*, Joseph Driscoll*, Sudarshan Sharma, Payman Behnam, Uday Kamal, Jongseok Woo, Daehyun Kim, <strong>Sharjeel Khan</strong>, Jianming Tong, Jamin Seo, Prachi Sinha, Madhavan Swaminathan, Tushar Krishna, Santosh Pande, Justin Romberg, and Saibal Mukhopadhyay.  (* Authors contributed equally )
                                .d-flex.flex-row.mb3
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://ieeexplore.ieee.org/document/10672547')
                                            i.fa.fa-file-pdf
                                            | Paper

                            .flex-shrink-0.text-md-right
                                .subheading.text-primary 
                                    | IEEE Transactions on
                                .subheading.text-primary 
                                    | Radar Systems 2024

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                .subheading.text-light
                                    | Real-time Digital RF Emulation - I: The Direct Path Computational Model
                                .subheading.text-light
                                    | Coleman DeLude*, Joseph Driscoll*, Mandovi Mukherjee*, Nael Mizanur Rahman*, Xiangyu Mao, Uday Kamal, <strong>Sharjeel Khan</strong>, Hariharan Sivaraman, Eric Huang, Jeffrey McHarg, Madhavan Swaminathan, Santosh Pande, Saibal Mukhopadhyay, and Justin Romberg. (* Authors contributed equally )
                                .d-flex.flex-row.mb3
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://ieeexplore.ieee.org/document/10674015')
                                            i.fa.fa-file-pdf
                                            | Paper

                            .flex-shrink-0.text-md-right
                                .subheading.text-primary 
                                    | IEEE Transactions on
                                .subheading.text-primary 
                                    | Radar Systems 2024

                    h3.mb-3 Workshop Papers

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                .subheading.text-light
                                    | Formalization of Automated Trading Systems in a Concurrent Linear Framework
                                .subheading.text-light
                                    | Iliano Cervesato, <strong>Sharjeel Khan</strong>, Giselle Reis, and Dragisa Zunic.
                                .d-flex.flex-row.mb3
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://arxiv.org/abs/1904.06844v1')
                                            i.fa.fa-file-pdf
                                            | Paper
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='assets/files/slides/linearity18.pdf')
                                            i.fa.fa-file-powerpoint
                                            | Slides
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://github.com/Sharjeel-Khan/financialCLF')
                                            i.fa.fa-code
                                            | Code

                            .flex-shrink-0.text-md-right
                                .subheading.text-primary 
                                    | Linearity & 
                                .subheading.text-primary 
                                    | TLLA Workshop 2018

                    h3.mb-3 Arxiv
                        
                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                .subheading.text-light
                                    | Phaedrus: Exploring Dynamic Application Behavior with Lightweight Generative Models and Large-Language Models
                                .subheading.text-light
                                    | Bodhisatwa Chatterjee, Neeraj Jadhav, <strong>Sharjeel Khan</strong>, and Santosh Pande.
                                .d-flex.flex-row.mb3
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://arxiv.org/abs/2412.06994')
                                            i.fa.fa-file-pdf
                                            | Paper

                            .flex-shrink-0.text-md-right
                                .subheading.text-primary 
                                    | Technical Report

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                .subheading.text-light
                                    | Qwerty: A Basis-Oriented Quantum Programming Language
                                .subheading.text-light
                                    | Austin J. Adams, <strong>Sharjeel Khan</strong>, Jeffrey Young, and Thomas M. Conte.
                                .d-flex.flex-row.mb3
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://arxiv.org/abs/2404.12603')
                                            i.fa.fa-file-pdf
                                            | Paper

                            .flex-shrink-0.text-md-right
                                .subheading.text-primary 
                                    | Technical Report
                        
                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                .subheading.text-light
                                    | Practical compilation of fexprs using partial evaluation
                                .subheading.text-light
                                    | Nathan Braswell, <strong>Sharjeel Khan</strong>, and Santosh Pande.
                                .d-flex.flex-row.mb3
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://arxiv.org/abs/2303.12254')
                                            i.fa.fa-file-pdf
                                            | Paper
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://github.com/Limvot/kraken')
                                            i.fa.fa-code
                                            | Code

                            .flex-shrink-0.text-md-right
                                .subheading.text-primary 
                                    | Preprint

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                            .flex-grow-1
                                .subheading.text-light
                                    | Biscuit: A Compiler Assisted Scheduler for Detecting and Mitigating Cache-Based Side Channel Attacks
                                .subheading.text-light
                                    | <strong>Sharjeel Khan</strong>, Girish Mururu, and Santosh Pande.
                                .d-flex.flex-row.mb3
                                    .p-2.button.pub
                                        a.btn.btn-lg.btn-outline(href='https://arxiv.org/abs/2003.03850')
                                            i.fa.fa-file-pdf
                                            | Paper

                            .flex-shrink-0.text-md-right
                                .subheading.text-primary 
                                    | Preprint
                        
                       
            hr.m-0


            // Travel
            section#travel.resume-section
                .resume-section-content
                    h2.mb-2 Travel 

                    #chartdiv



            hr.m-0

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        script(src='https://www.amcharts.com/lib/4/core.js')
        script(src='https://www.amcharts.com/lib/4/maps.js')
        script(src='https://www.amcharts.com/lib/4/geodata/worldLow.js')
        script(src='https://www.amcharts.com/lib/4/geodata/usaLow.js')
        script(src='https://www.amcharts.com/lib/4/themes/animated.js')

        // Core theme JS
        script(src='js/scripts.js')
        